nav {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;;
}

nav ul {
    /* Remove default list styling */
    list-style: none;
    padding: 0;
    margin: 0;

    text-align: right;

    /* Space between items of the list */
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0.5rem 0;
    transition: filter 0.25s;
}

nav a:hover {
    color: #d87f13;
    filter: drop-shadow(0 0 2em #d87f13);
}

nav a.icon {
    width: 24px;
  height: 24px;
  /* display: inline-block; */
}