#root {
  margin: 0 auto;
  padding: 2rem;

  /* Body of page takes up entire available space */
  height: 100vh;
  width: 100vw;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    padding: 0.5rem 0;
    transition: filter 0.25s;
}
a:hover {
    color: #d87f13;
    filter: drop-shadow(0 0 2em #d87f13);
}
